:root {
    color-scheme: light dark;
}

:root {
    --bg: white;
    --text: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: black;
        --text: white;
    }
}

body {
    background-color: var(--bg);
    color: var(--text);
}

a {
    color: green;
}
